<!-- Main Container -->
<div class="min-h-screen text-white bg-epic-black">
  <!-- Header Section -->
  <header class="p-4 py-5 text-white shadow-lg bg-epic-gray">
      <div class="container flex items-center justify-between mx-auto">
          <!-- Left: Logo and Navigation -->
          <div class="flex items-center space-x-8">
              <img src="epic-games-logo.png" alt="Epic Games Logo" class="h-8">
              <a href="#" class="text-xl font-bold">STORE</a>
              <div class="flex space-x-4">
                  <a href="#" class="transition-colors hover:text-gray-400">Support</a>
                  <a href="#" class="transition-colors hover:text-gray-400">Distribute</a>
              </div>
          </div>

         
        

          <!-- Right: Sign In and Download Buttons -->
          <div class="flex items-center space-x-4">
              <button class="px-2 py-1 text-white bg-gray-600 rounded-lg hover:bg-gray-500">Sign In</button>
              <button class="px-2 py-1 text-white bg-blue-500 rounded-lg hover:bg-blue-400">Download</button>
          </div>
      </div>


      
      
    </header>
    
    <div class="py-8 px-44 bg-epic-black">
      <div class="flex items-center space-x-7">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1116.65 4.65a7.5 7.5 0 010 10.7z" />
        </svg>
        <input type="text" placeholder="Search store" class="px-4 py-2 text-gray-300 transition-colors duration-300 ease-in-out bg-gray-700 rounded-full hover:bg-gray-600">

        <ul class="flex space-x-9">
          <li><a href="#" class="text-gray-300 hover:text-white">Discover</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white">Browse</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white">News</a></li>
        </ul>
      </div>
    </div>
  <!-- Main Content -->



